---
config:
  - name1: value1
  - name2: value2
    params:
        mode: nooverwrite
  - name3: value3
    params:
        state: absent
config_plugins:
  - plugin1:
       name1: value1
  - plugin2:
        name2: value2
        params:
            mode: nooverwrite
  - plugin3:
        name3: value3
        params:
            state: absent
table1:
  - field1: value1
    field2: value2
    params:
        condition: fieldA="valueB"
  - field1: value1
    field2: value2
    field3: value3
    params:
        condition: fieldA="valueB" AND fieldC="valueD"
        mode: nooverwrite
table2:
  - field1: value1
    field2: value2
    params:
        condition: fieldA="valueB"
  - field1: value1
    field2: value2
    field3: value3
    params:
        condition: fieldA="valueB" AND fieldC="valueD"
        mode: nooverwrite
