---
config:
  name_1:
    value: value_1
  name_2:
    value: value_2
    mode: nooverwrite
  name_3:
    state: absent
config_plugins:
  plugin_1:
    name_1:
      value: value_1
      mode: nooverwrite
    name_2:
      value: value_2
    name_3:
      state: absent
  plugin_2:
    name_1:
      value: value_1
      mode: nooverwrite
    name_2:
      value: value_2
    name_3:
      state: absent
